body{background-color: blue;}

#home{
    position:absolute;
    left: 500px;
}
#about{
    position:absolute;
    left: 550px;
}
#resume{
    position:absolute;
    left: 600px;
}
#portfolio{
    position:absolute;
    left: 650px;
}
